/******************Blog past css start************************/
/************************************************************/
.lonnuc_row{
	width:auto;
}

#lonnuc_post{
	width:auto;
	background:#f6f6f6;
}
.sitebread-inner ul .active2 {
    color: #a7a9ac;
    background-color: #fff;
    padding: 4px 10px;
    font-family: 'Aller-Bold';
    font-size: 12px;
    border-radius: 4px;
    margin-right: 7px;
    top: 1px;
    position: relative;
	border:1px solid #a7a9ac;
}
.amttext_row{
	width:100%;
	max-width:940px;
	margin:auto;
	padding: 60px 0px 38px 0px;
}
.amttext_row h2{
	color:#000000;
	font-size:60px;
	font-family: 'Aller';
	margin:0px 0px 15px 0px;
	line-height: 70px;
}
.amttext_row p{
	font-family: 'Aller-Bold';
	font-size:12px;
	color:#a7a9ac;

}

.amttext_row p:hover{
	font-family: 'Aller-Bold';
	font-size:12px;
	color:#d3bc8d;

}
.amttext_row p img{
  padding:0px 10px 0px 0px;
}

.amt_blogmg{
	text-align:center;
}
.amt_blogmg img{
	display:inline-block;
	width:100%;
}

.amttext_part2{
	width:100%;
	max-width:940px;
	margin:auto;
	padding: 70px 0px 49px 0px;
}

.blog_shar{
width: 103px;
background: #ffffff;
text-align: center;
position: relative;
overflow: hidden;
padding:0px 0px 18px 0px;
font-family: 'Aller-Bold';
font-size:16px;
margin-top:60px;
box-shadow: 1px 5px 15px 2px rgba(0,0,0,0.1);
}

.shar_rotat{
	background:#33414e;
	color:#fff;
	text-align:center;
	 padding:19px 0px;
}
.shar_rotat p{
	color:#fff;
}
.shar_rotat::after{
width: auto;
border: 2px solid #33414e;
content: "";
position: absolute;
margin: 0px;
top: -42px;
left: -39px;
width: 178px;
height: 100px;
border-radius: 100%;
background:#33414e;
color:#ffffff;
}
.socil_blog{
	width:100%;
	margin-top: 37px;
}

.socil_blog ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
.socil_blog ul.social-network li {
	display: inline;
	margin: 0 5px;
}

.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin: 6px 0px;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
	background:#33414e;
	
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
.rotate_boto{
	width:100%;
	position:relative;
}
.rootatuptext{
	position:absolute;
	top: 20px;
	color:#FFF;
	text-align:center;
	width:100%;
	font-size:16px;
}
.skees_row{
	width:100%;
	border-left:1px solid  #dedfe0;
}

.skees_row h2{
	font-size:24px;
	color:#33414e;
	margin:0px;
	padding:0px 0px 0px 45px;
	font-family: 'Aller';
	line-height:30px;
}
.amt_txtlnth{
	width:auto;
	margin:55px 0px 0px 0px;
}
.amt_txtlnth p{
	font-size:16px;
	color:#33414e;
	font-family: 'TrebuchetMS';
	line-height:26px;
}
.amt_txtlnth figure{
	text-align:center;
	padding:50px 0px;
}
.amt_txtlnth figure img{
	display:inline-block;
}
.amt_txtlnth p + p{
	font-size:16px;
	color:#33414e;
	font-family: 'TrebuchetMS';
	padding:20px 0px;
	line-height:26px;
}
.tstmonils_text{
	width:100%;
	padding:20px 0px 0px 0px;	
}
.tstmonils_text p{
	width:15%;
	float:left;		
}
.tstmonils_text p + p{
	width:80%;
	float:left;
	color:#ba0c2f;
	font-family: 'Aller-Bold';	
}
.information_link{
	width:100%;
	color:#33414e;
	font-size:16px;
	font-family: 'TrebuchetMS';
	padding:40px 0px;	
}
.information_link a{
	color:#33414e;
	font-size:16px;
	font-family: 'Aller-Bold';
	text-decoration:underline;	
}
.information_link a:hover{
	width:100%;
	color:#ba0c2f;
}




/******************Blog past css end************************/
/************************************************************/
button.post_btan:hover {
    background: #313f4c;
    color: #fff;
}

.middle-head2{
    width: 100%;
    float: left;
    min-height: 90px;
    border-bottom: 1px solid #e4e5e6;
}
.site-breadcrum2{
    width: 100%;
    float: left;
    border-bottom: 1px solid #e4e5e6;
    padding: 15px 0px;
}
button.post_btan {
    background:rgba(0, 0, 0, 0.0);
color: #33414e;
border: none;
border-radius: 4px;
padding: 16px 25px;
font-size: 12px;
text-transform: uppercase;
font-family: 'Aller-Bold';
letter-spacing: 1px;
transition: all 0.4s ease;
width:320px;
margin: 18px 0 25px 0;
border:1px solid#33414e;
}
button.post_btan i {
    transition: all 0.4s ease;
    position: relative;
    left: -5px;
    top: 0px;
	font-size:16px;
}
button.post_btan:hover i{
    left: 2px;
    opacity: 0.6;
}





.blog_banner{
    background:#000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height:230px;
}
.menu2 .navbar-nav .dropdown-menu {
	box-shadow: -1px 4px 40px rgba(0, 0, 0, .175);
}


.menu2 .navbar-nav > li > a {
    color: #000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#000000;
}
::-moz-placeholder { /* Firefox 19+ */
 color:#000000;
}
:-ms-input-placeholder { /* IE 10+ */
   color:#000000;
}
:-moz-placeholder { /* Firefox 18- */
   color:#000000;
}

.blog_phone {
	width: 235px;
	float: right;
	color: #fff;
	text-align: right;
	margin-right: 25px;
}
.blog_phone h4 img {
	margin-right: 6px;
	width: 16px;
	fill: CurrentColor;
}
.blog_phone p {
	color: #33414e;
	margin-bottom: 0px;
	font-size: 16px;
	font-family: 'Aller';
}
.blog_phone h4 {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 30px;
	font-family: 'Aller-Bold';
	font-weight: normal;
	color:#000000;
}
.blog-breadcrum {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e4e5e6;
    padding: 15px 0px;
}
.blog-head{
    width: 100%;
    float: left;
    min-height: 90px;
    border-bottom: 1px solid #e4e5e6;
}
#blog_prt{
	width:100%;
	margin:auto;
	padding:0px;
}

.blog_hd{
	width:auto;
	padding:25px 0px;
}
.blog_hd h2{
	font-size:60px;
	color:#000000;
	font-family: 'Aller';
}

/*blog css*/
.bl{
    background: #fff;
    border-radius: 9px;
    box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.05);
    transition: all 0.4s ease;
    overflow: hidden;
    margin: 0 20px;
}

.bl:hover{ 
transition: all 0.4s ease;
box-shadow: 2px 9px 18px 4px rgba(0,0,0,0.2);
}

.bl figure {
    height: 477px;
    overflow: hidden;
    position: relative;
    margin: 0 0 25px 0;
}

.tklokimg2 {
    position: absolute;
    bottom: -5px;
    left: -10px;
    right: -10px;
}
.bl figure .tklokimg img {
    transform: translateY(0px);
}
.bl figure img {
    border-radius: 9px 9px 0 0;
    transform: translateY(-33px);
}
.tklokimg2 img {
    width: 100%;
}

#blog_gray {
    float: left;
    width: 100%;
    background: url(../images/cart-bg.png) no-repeat bottom center #ffffff;
        background-size: auto auto;
    background-size: contain;
    padding: 18px 0 100px 0;
}
#blog_gray2 {
    float: left;
    width: 100%;
    background: url(../images/blgpost.jpg) no-repeat top center #f6f6f6;
        background-size: auto auto;
    background-size: contain;
    padding:18px 0 0px 0;
}
.blog_spright{
margin:0px 0px 0px 40px;
}
.recnt_bl{
width:100%;
padding: 0px 0px 26px 0px;
}
.recnt_bl h2{
color: #000000;
font-size: 40px;
font-family: 'Aller-Bold';
}
.sed_blog{
background: #fff;
border-radius: 5px;
box-shadow: 1px 1px 9px 2px rgba(0,0,0,0.05);
transition: all 0.4s ease;
overflow: hidden;
margin: 8px;
}
.sed_blog:hover {
    transition: all 0.4s ease;
    box-shadow: 2px 9px 18px 4px rgba(0,0,0,0.2);
}
.cat_line{
width:auto;
padding:33px 0px;
left:-20px;
}
.cat_line .line_left{
width: 105px;
float: left;
right: 0;
bottom: 0;
left: -1px;
position: absolute;
}
.cat_line .line_right{
width: 150px;
float: left;
position: absolute;
right: 0;
left: 120px;
padding: 5px 15px;
font-size: 16px;
line-height: 26px;
margin: 0 0 25px 0;
color: #c3c4c6;
}
button.catbl_dt:hover {
    background: #8f0823;
    color: #fff;
}
button.catbl_dt {
    background-color: #ba0c2f;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Aller-Bold';
    letter-spacing: 1px;
}
.sed_blog:hover button.arrow_artical img {
margin-left:5px;
}

.bl:hover button.red_artical img {
    margin-left: 5px;
}







/*blog css end*/


.blog_inr {
    padding: 0 45px 50px 45px;
}
.blog_inr h2 {
    font-size: 24px;
    margin: 0 0 8px 0;
    line-height: 30px;
    font-family: 'Aller';
    color: #33414e;
}
.blog_inr p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 25px 0;
	color:#c3c4c6;
}
button.hm_redbtns:hover {
    color: rgba(255,255,255,0.6);
}
button.hm_redbtns {
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 16px 25px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Aller-Bold';
    letter-spacing: 1px;
    transition: all 0.4s ease;
}


button.red_artical {
	background-color:rgba(0,0,0,0.0);
  color: #000;
  border: none;
  border-radius: 4px;
  padding: 16px 0px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Aller-Bold';
  letter-spacing: 1px;
  transition: all 0.4s ease;
}
button.red_artical:hover {
  background-color:rgba(0,0,0,0.0); color:#000; 
}
button.red_artical img {
   transition: all 0.4s ease;
  position:relative;
  left:6px;
  top:-2px;
} 

button.red_artical:hover img {
  left:11px;opacity:0.6;
}

.new_catgory{
width: auto;
position: absolute;
top: 170px;
left: -11px;
right: 0;
color:#fff;	
}
button.red_catgory{
background-color:#ba0c2f;
  color:#fff;
  border: none;
  border-radius: 4px;
  padding: 20px 15px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Aller-Bold';
  letter-spacing: 1px;	
	
}
button.red_catgory:hover{
background: #8f0823;
color: #fff;	
	
}
.ft_hd{
	width:auto;
	padding:0px 0px 26px 0px;
}
.ft_hd h2{
	color:#000000;
	font-size:40px;
	font-family: 'Aller-Bold';
}




.white_rwo {
   padding: 26px;
}
.white_rwo h2 {
    font-size: 24px;
    margin: 0 0 8px 0;
    line-height: 30px;
    font-family: 'Aller';
    color: #33414e;
}
.white_rwo p {
    font-size: 16px;
    line-height: 26px;
   margin: 7px 0 25px 50px;
	color:#c3c4c6;
}


button.arrow_artical {
	background-color:rgba(0,0,0,0.0);
  color: #000;
  border: none;
  border-radius: 4px;
  padding: 16px 0px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Aller-Bold';
  letter-spacing: 1px;
  transition: all 0.4s ease;
}
button.arrow_artical:hover {
  background-color:rgba(0,0,0,0.0); color:#000; 
}
button.arrow_artical img {
   transition: all 0.4s ease;
  position:relative;
  left:6px;
  top:-2px;
} 

button.arrow_artical:hover img {
  left:11px;opacity:0.6;
}


.leftbt_catgory{
width: auto;
position: absolute;
top: 42px;
left: 0px;
right: 0;
color:#fff;	
}
button.left_catgory{
background-color:#ba0c2f;
  color:#fff;
  border: none;
  border-radius: 4px;
  padding: 7px 6px;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Aller-Bold';
  letter-spacing: 1px;	
	
}
button.left_catgory:hover{
background: #8f0823;
color: #fff;	
	
}


.all_postes{
width:100%;
padding:83px 0px;
}
.all_postes2{
width:100%;
padding:83px 0px;
border-bottom:1px solid #e4e5e6;
border-top:1px solid #e4e5e6;
}
.all_part2{
width:100%;
}
.blog_black{
width:auto;
}
.blog_black h2{
font-size:40px;
color:#000000;
 font-family: 'Aller-Bold';
}

.form-inline .modal-select {
    width: 240px;
    height: 54px;
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
.form-control{width:20%; height:54px;}

.left_srch{
width: 100%;
float: left;
}

button.srch_btan:hover {
    background: #8f0823;
    color: #fff;
}
button.srch_btan {
    background-color: #ba0c2f;
    color: #fff;
    border: none;
    padding: 18px 30px 19px 30px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Aller-Bold';
    letter-spacing: 1px;
	-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
}
button.srch_btan img {
    transition: all 0.4s ease;
    position: relative;
    left: -5px;
    top: -2px;
}
button.srch_btan:hover img {
    left: 2px;
    opacity: 0.6;
}

.left_srch .navbar-form {
    padding: 0px 0px;
    margin-top: 0!important;
    margin-right: -15px;
    margin-bottom: 8px;
    margin-left: -15px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1), 0 1px 0 rgba(255, 255, 255, .1);
}

.left_srch .form-control {
    display: block;
    width: 282px !important;
   height: 53px;
    padding: 6px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


/*********home blog*************/
.main-section{ width:100%; float:left; padding:70px 0px 130px;}
.hm_blog_col {
    width: 100%;
    float: left;
    margin-top: 35px;
}
.hm_blog {
    width: 320px;
    float: left;
    border-bottom: 1px solid #e4e5e6;
    margin: 0px 40px;
}
.hm_blog::after{ width:1px; height:395px; position:absolute; content:''; top:0; right:0; background-image:url(../images/hm_blog_hr.png); background-repeat:no-repeat; background-position:top right;}
.hm_blog figure {
    height: 220px;
    overflow: hidden;
    position: relative;
    margin: 0 0 6px 0;
}
.hmblogimg1{ position:absolute; bottom: 0;
left: 0;
right: -10px;
}
.hmblogimg1 img{
width:100%;
}

.hmblog-inner{ width:100%; float:left; padding: 15px 15px 30px;}
.mktp{ width:100%; text-align:center;}
.mktp img{display:inline-block; width:100%}
.hmblog-inner h5{ font-size:14px; margin-top:0px; margin-bottom:15px; font-family: 'Aller-Bold'; font-weight:normal; color:#a7a9ac;}
.hmblog-inner h5 .fa{ margin-right:5px;}
.hmblog-inner p{ color:#000; font-size:24px; line-height:30px; font-family: 'Aller';}
.hmblog-inner a{ color:#33414e; font-size:12px; font-family: 'Aller-Bold'; text-transform:uppercase;}
.hmblog-inner a i{
transition: all 0.4s ease;
position: relative;
left: 0px;
top: 0px;
font-size: 16px;
}
.hmblog-inner a:hover i{left: 10px; opacity: 0.6;}

.blog_overlay{ width:100%; position:absolute; top:0; left:0; height:100%; background-color:rgba(186,12,47,0.7); visibility:hidden; opacity:0;  transition: .8s ease;}

.hm_blog:hover .blog_overlay{ opacity: 5;}
.hm_blog:hover a{ color:#ba0c2f;}
.hm_blog:hover{ border-bottom:1px solid transparent; box-shadow:1px 3px 12px 3px rgba(0,0,0,0.1);}
.blog_catlable {
    position: absolute;
    top: 15px;
    left: 40px;
    font-size: 12px;
    color: #fff;
    background-color: #ba0c2f;
    border-radius: 3px;
    padding: 3px 12px;
    z-index: 1;
}

.hm-blogcnter {
    margin-top: 110px;
}
.hm_blog_last::after{ display:none;}


/**********viewed slider vehicles***************/
.btn-clear {
    background-color: transparent;
    border: 1px solid #33414e;
    border-radius: 3px;
    transition: all 0.5s ease;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'Aller-Bold';
    color: #33414e;
    line-height: 21px; margin-left: 15px;
}
.btn-clear .fa{ margin-right:5px;}

.btn-clear:hover{ background-color:#33414e; color:#fff;}
.vehicles-slider {
    width: 100%;
    float: left;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*.vehicles-slider::before {

    position: absolute;
    width: 12%;
    height: 536px;
    content: '';
    background-color: rgba(256,256,256,0.7);
    top: 22%;
    left: 0;
    z-index: 1024;
}

.vehicles-slider::after {
    position: absolute;
    width: 12%;
    height: 536px;
    content: '';
    background-color: rgba(256,256,256,0.7);
    top: 22%;
    right: 0;
    z-index: 1024;
}*/



	
.prd_oursodtl {
    background: #fff;
    border-radius: 4px;
    border-bottom: solid 4px #BA0C2F;
    box-shadow: 1px 5px 15px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease;
}
.prd_oursodtl figure {
    position: relative;
    text-align: center;
    padding: 25px 5px 20px 5px;
}
.prd_oursodtl figure img {
    width: 100%;
}
.vehicles-slider .spoffrsap img {
    width: 100%;
}


.vehicles-slider .mightyslider_carouselModern_skin{ background-color:transparent;}
	
.vehicles-slider .item_spofrname {
    padding: 15px 15px 0 15px;
    min-height: 85px;
}
.vehicles-slider .item_spofrname h4 {
    font-size: 22px;
    margin: 0;
    line-height: 30px;
    font-family: 'Aller';
    color: #33414e;
}
.vehicles-slider .item_spofrname h5 {
    font-size: 16px;
    margin: 0;
    line-height: 24px;
    font-family: 'Aller';
    color: #33414e;
}

.vehicles-slider .apofr_price {
    padding: 15px 15px 0 15px;
}
.prd-list{ margin-bottom:15px;}
.vehicles-slider a{ color:#33414e;}
.prd-list p{ font-size:14px;}
.prd-list p span{ font-family: 'TrebuchetMS-Bold'; font-style: normal;}


.prd_oursodtl:hover .hm_viewspo button{ background:#8F0823; color:rgba(255,255,255,0.6); }

.prd_oursodtl:hover .hm_viewspo button img{ opacity:0.6;left: -5px; }
.prd_oursodtl:hover {
    transition: all 0.4s ease;
    box-shadow: 2px 9px 18px 4px rgba(0,0,0,0.2);
}

.prd_oursodtl figure figcaption {
    position: absolute;
    top: 8px;
    left: 13px;
    background: #D6D9DC;
    border-radius: 3px;
    padding: 4px 12px;
    text-transform: uppercase;
    letter-spacing: 1.0px;
    font-family: 'Aller-Bold';
    font-size: 12px;
    color: #33414e;
}
.prd_oursodtl figure figcaption i {
    font-size: 18px;
}

.vr_slider{
	float:left;
	width:100%;
	background:url(../images/hm-brandsbg.jpg) left top no-repeat #F6F7F7;
	background-size:cover;
	padding:90px 0 75px 0;
}
	
/**********End viewed slider vehicles***************/



@media(min-width: 320px) and (max-width: 767px) {

.amttext_row h2 {
    font-size: 46px;
}
.skees_row{
	border-left:0px solid  #dedfe0;
}
.skees_row h2 {
    font-size: 21px;
}
.all_postes2 {
    border-bottom: 0px solid #e4e5e6;
    border-top: 0px solid #e4e5e6;
}

.skees_row h2{
	padding:0px 0px 0px 0px;

}
.tstmonils_text p {
    width: 20%;
}


button.post_btan {
    width: 276px;

}

.button_in {
    width: 100%;
    max-width: 329px;
}
.blog_inr {
    padding: 20px;
}
.ft_hd h2 {
    font-size: 31px;
}
.recnt_bl h2 {
    font-size: 32px;

}
.all_postes {
    padding: 30px 0px;
}

button.srch_btan {
    padding: 18px 12px 19px 17px;
}
.left_srch .form-control {
    width: auto !important;
}

.blog_hd h2 {
    font-size: 46px;
}
#blog_gray {
    padding: 20px 0px;
}
.leftbt_catgory {
    top: 42px;
    left: 25px;
    right: 0;
}
.blog_spright {
    margin: 0;
}
.blog_black h2 {
    margin: 0px 0px 20px 0px;
}

.white_rwo p {
    margin: 18px 0 25px 64px;
}
.new_catgory {
    width: auto;
    position: absolute;
    top: 170px;
    left: 7px !important;
    right: 0;
    color: #fff;
}
.bl figure {
    height: 226px;
    overflow: hidden;
    position: relative;
    margin: 0 0 37px 0;
}


.form-inline .modal-select {
    width: 100% !important;
    height: 54px;
}
.input-group-addon, .input-group-btn {
    width:0%;
    white-space: nowrap;
    vertical-align: middle;
}

.hm_blog {
    width: 100%;
    float: left;
    border-bottom: 1px solid #e4e5e6;
    margin: 0px;
}
}



@media(min-width: 768px) and (max-width: 991px) {
.hm_blog {
    width: 234px;
    float: left;
    border-bottom: 1px solid #e4e5e6;
    margin: 0px 0;
}
.blog_black {
    text-align: center;
}
.all_postes {
    padding: 12px 0px;
}
.blog_black h2 {
    padding: 20px 0px;
}
.hm_search_form {
    width: auto;
    float: right;
}

.left_srch .form-control {
    width: 233px !important;
  
}

}

@media(min-width: 992px) and (max-width: 1240px) {
.hm_search_form {
    width: auto;
    float: right;
}

.hm_blog {
    width: 234px;
    float: left;
    border-bottom: 1px solid #e4e5e6;
    margin: 0px 0;
}
.blog_black {
    text-align: center;
}

}


